*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    /* ===== Colors ===== */
    --background-color: #f0f0f0;
    --background-color-inverse: #333333;
    --btn-text-color: white;
    --headingThree-text-color: black;
    --paragraph-text-color: #666;
    
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
body{
    background-color: var(--background-color);
    transition: var(--tran-05);
}
body.dark{
    --background-color: #333;
}
.app-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.app{
    width:325px;
    background-color: var(--background-color);
    transition: var(--tran-05);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px
}
body.dark .app{
    --background-color: #333;
}
.app img{
    width:100%;
    height: auto;
}
.app-content{
    padding:16px;
}
.app-content h3{
    color: var(--headingThree-text-color);
    transition: var(--tran-05);
    font-size: 28px;
    margin-bottom: 8px;
}
body.dark .app-content h3{
    --headingThree-text-color: white;
}
.app-content p{
    color: var(--paragraph-text-color);
    transition: var(--tran-05);
    font-size: 15px;
    Line-height: 1.3;
}
body.dark .app-content p{
    --paragraph-text-color: #cecece;
}
.app-content .btn{
    display: incline-block;
    padding:8px 16px;
    background-color: var(--background-color-inverse);
    transition: var(--tran-05);
    color: var(--btn-text-color);
    transition: var(--tran-05);
    text-decoration: none;
    border-radius: 300px;
    margin-top: 16px;
}
body.dark .app-content .btn{
    --background-color-inverse: #d8d8d9;
    --btn-text-color: #333;
}